extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | 413, Adithya Elixir apartment, Alpine Eco Road
    br
    | Doddanekundi, Begalooru 560037
    br
    abbr(title='Phone') P: 
    | 888.693.4534

  address
    strong Support: 
    a(href='mailto:psvkrishna@gmail.com') psvkrishna@gmail.com
    br
    strong Marketing: 
    a(href='mailto:psv_krishna@yahoo.com') psv_krishna@yahoo.com
